pandas
numpy
matplotlib
ccxt
tqdm
python-dotenv
apimoex
xgboost
stable-baselines3
opencv-python
PyAutoGUI
keyboard
PyDirectInput
openpyxl
xlsxwriter
scikit-learn
scikit-image
statsmodels
prophet
pytz
gymnasium
psutil
dropbox
lightgbm
optuna
plotly